* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  height: 14vh;
  box-shadow: 0 0 5px hsl(0deg 0% 100% / 50%), 0 0 10px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 0 5px hsl(0deg 0% 100% / 50%), 0 0 10px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 0 5px hsl(0deg 0% 100% / 50%), 0 0 10px rgb(0 0 0 / 20%);
  width: 100vw;
  z-index: 5;
  position: fixed;
  background-color: #fff;
  overflow-y: hidden;
}

.container {
  width: 100vw;
}

.main,
.main10 {
  z-index: -1;
}

.main {
  min-height: 100vh;
}

.main1 {
  z-index: -1;
  padding-left: 5vw;
  padding-right: 5vw;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  z-index: 5;
  margin-right: 80px;
}

.nav-links li {
  list-style-type: none;
  z-index: 5;
}

.navmore li {
  list-style-type: none;
  z-index: 5;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

.first3 li {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.last3 li {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.text2 li {
  list-style: none;
  float: left;
}

ul.mentorul li {
  list-style: none;
}

.nav-links li:nth-child(5) {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.nav-links li:nth-child(6) {
  display: none;
}

.nav-links li:nth-child(7) {
  display: none;
}

.nav-links li:nth-child(8) {
  display: none;
}

.navmore {
  position: fixed;
  background-color: #fff;
  right: 20px;
  top: 14vh;
  z-index: 5;
  max-height: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.1s ease-in;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 10%), 0 -11px 0 #fbfbfb;
  -webkit-box-shadow: 0 10px 15px rgb(0 0 0 / 10%), 0 -11px 0 #fbfbfb;
  -moz-box-shadow: 0 10px 15px rgb(0 0 0 / 10%), 0 -11px 0 #fbfbfb;
  overflow-y: hidden;
}

.navmore li:nth-child(1):hover {
  background-color: rgba(173, 235, 0, 0.05);
}

.navmore li:nth-child(2):hover {
  background-color: rgba(0, 195, 247, 0.05);
}

.navmore li:nth-child(3):hover {
  background-color: rgba(241, 39, 120, 0.05);
}

.nav-links li:nth-child(5):hover .navmore {
  max-height: 200px;
}

#special {
  color: #00c3f7;
}

#special1 {
  color: #00c3f7;
}

.nav-links a,
.navmore a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  z-index: 5;
}

.burger {
  display: none;
  z-index: 5;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #000;
  transition: all 0.3s ease;
  z-index: 5;
}

.logo {
  height: 12vh;
  overflow: hidden;
  margin-left: 30px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderslides {
  position: relative;
  width: 400%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  will-change: transform;
}

.slider[data-pos="0"] .sliderslides {
  transform: translateX(0%);
}

.slider[data-pos="1"] .sliderslides {
  transform: translateX(-25%);
}

.slider[data-pos="2"] .sliderslides {
  transform: translateX(-50%);
}

.slider[data-pos="3"] .sliderslides {
  transform: translateX(-75%);
}

.sliderslide {
  float: left;
  width: 25%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sliderdots {
  display: flex;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.sliderdot,
.sliderindicator {
  display: block;
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  background: rgba(152, 216, 0, 0.2);
  border-radius: 100px;
}

.sliderindicator {
  position: absolute;
  background: #98d800;
  width: auto;
}

.sliderindicator--left {
  transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.sliderindicator--right {
  transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider[data-pos="0"] .sliderindicator {
  left: 0;
  right: 6em;
}

.slider[data-pos="1"] .sliderindicator {
  left: 2em;
  right: 4em;
}

.slider[data-pos="2"] .sliderindicator {
  left: 4em;
  right: 2em;
}

.slider[data-pos="3"] .sliderindicator {
  left: 6em;
  right: 0;
}

.center {
  display: flex;
  height: 84vh;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
}

.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1 {
  padding: 20px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  width: 35vw;
}

.eventlist {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  border-right: 1px solid rgba(0, 0, 0, 0.18);
}

.text1 strong {
  font-weight: 800;
}

.image1 {
  padding: 20px;
  width: 50%;
}

.image1 img {
  width: 100%;
}

.joinus {
  background-color: #f41971;
  border: none;
  outline: none;
  color: #fff;
  width: 15vw;
  height: 7vh;
  border-radius: 12.5px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.afterbutton {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.afterbuttonbutton {
  background-color: #98d800;
  border: none;
  outline: none;
  color: #fff;
  padding: 17.5px 50px 17.5px 50px;
  border-radius: 20px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.contactbutton1 {
  background-color: #98d800;
  border: none;
  outline: none;
  color: #fff;
  padding: 17.5px 0 17.5px 0;
  border-radius: 20px;
  font-size: 22.5px;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  cursor: pointer;
}

.contactbutton2 {
  background-color: #fff;
  border: 2.5px solid #98d800;
  outline: none;
  color: #98d800;
  padding: 17.5px 0 17.5px 0;
  border-radius: 20px;
  font-size: 22.5px;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  cursor: pointer;
}

.continuereading {
  background-color: #fff;
  border-style: solid;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 2.5em;
  border-radius: 12.5px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.continuereading1 {
  border-color: #f41971;
  color: #f41971;
}

.contreading1 {
  background-color: #f41971;
}

.contreading2 {
  background-color: #00c3f7;
}

.contreading3 {
  background-color: #98d800;
}

.continuereading2 {
  border-color: #00c3f7;
  color: #00c3f7;
}

.continuereading3 {
  border-color: #98d800;
  color: #98d800;
}

.continuereading4 {
  border-color: #f41971;
  color: #f41971;
}

.whyinfosecgirls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s all ease-in;
  opacity: 0;
}

.whyinfosecgirls[data-scroll="in"] {
  opacity: 1;
  transition-delay: 0.25s;
}

.ouraim {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  transition: 0.5s all ease-in;
  opacity: 0;
}

.ouraim[data-scroll="in"] {
  opacity: 1;
  transition-delay: 0.25s;
}

.howyoucanhelp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s all ease-in;
  opacity: 0;
}

.howyoucanhelp[data-scroll="in"] {
  opacity: 1;
  transition-delay: 0.25s;
}

.text2 {
  width: 40%;
  padding: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.text2 strong {
  font-weight: 700;
  font-size: 30px;
}

.subhead1 {
  color: #00c3f7;
}

.subhead2 {
  color: #98d800;
}

.subhead3 {
  color: #f41971;
}

.image2 {
  width: 40%;
}

.image2 img {
  width: 90%;
}

.shortwidth img {
  width: 80%;
}

.about1 {
  border-style: solid;
  border-color: #f41971;
  width: 75vw;
  border-radius: 30px;
  padding: 40px;
  padding-left: 10vw;
  font-size: 20px;
}

.about2 {
  border-style: solid;
  border-color: #00c3f7;
  width: 75vw;
  border-radius: 30px;
  padding: 40px;
  padding-left: 10vw;
  font-size: 20px;
}

.aboutimg1 {
  border-radius: 50%;
  position: absolute;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  border-style: solid;
  border-color: #f41971;
  border-width: 5px;
  z-index: 1;
  margin-left: -50px;
  margin-top: -75px;
}

.aboutimg2 {
  border-radius: 50%;
  position: absolute;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  border-style: solid;
  border-color: #00c3f7;
  border-width: 5px;
  z-index: 1;
  margin-left: -50px;
  margin-top: -75px;
}

.aboutimg1 img {
  width: 100%;
}

.aboutimg2 img {
  width: 100%;
}

.aboutus strong {
  font-family: 'Poppins', sans-serif;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 900;
}

.fromourblog {
  transition: 0.5s all ease-in;
  opacity: 0;
}

.fromourblog[data-scroll="in"] {
  opacity: 1;
  transition-delay: 0.25s;
}

.fromourblog strong {
  font-family: 'Poppins', sans-serif;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 900;
}

.blog {
  width: 50vw;
  margin-left: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.blog strong {
  font-family: 'Poppins', sans-serif;
  margin-left: 0;
  font-size: 25px;
  font-weight: 900;
}

.filters strong {
  font-size: 20px;
}

.catlist strong {
  font-weight: bolder;
}

.aboutname {
  color: #f41971;
  font-size: 30px;
  font-weight: 900;
}

.aboutname2 {
  color: #00c3f7;
  font-size: 30px;
  font-weight: 900;
}

.aboutpost {
  color: #f41971;
}

.aboutpost2 {
  color: #00c3f7;
}

.currentchapterleaders {
  width: 100vw;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.leadimg {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  border-width: 5px;
  border-color: #f41971;
  border-style: solid;
  overflow: hidden;
}

.leadmain .leadmain1:nth-child(3n+0) .leadimg {
  border-color: #f41971;
}

.leadmain .leadmain1:nth-child(3n+1) .leadimg {
  border-color: #98d800;
}

.leadmain .leadmain1:nth-child(3n+2) .leadimg {
  border-color: #00c3f7;
}

.imgdesc {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.imgdesc1 {
  font-weight: normal;
  font-size: 15px;
}

.leadimg img {
  width: 100%;
}

.leadmain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.diffcolor {
  color: #98d800;
}

.back {
  position: absolute;
  margin-top: -300px;
  margin-left: 100px;
  z-index: -5;
}

.back img {
  z-index: -5;
}

.search {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-top: 14vh;
}

.textcont {
  width: 70%;
}

.searchbuttoncont {
  width: 30%;
}

.searchbox {
  background-color: #fff;
  width: 95%;
  height: 2.5em;
  color: #00c3f7;
  border: 3px solid #000;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin: 20px;
}

.searchbutton {
  background-color: #f41971;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 60%;
  height: 7vh;
  font-size: 22.5px;
  margin: 20px;
}

.searchicon {
  margin-left: -60px;
  color: #00c3f7;
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: #00c3f7;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

:-ms-input-placeholder {
  color: #00c3f7;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

::placeholder {
  color: #00c3f7;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.eventdetails {
  display: flex;
  margin-top: 50px;
}

.eventdetailsimg {
  width: 30%;
}

.eventdetailsimg img {
  width: 100%;
}

.eventdetailsdetail {
  margin-left: 20px;
  width: 60%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.eventname {
  font-size: 25px;
  font-weight: 900;
}

.eventlistcont {
  display: flex;
  justify-content: center;
}

.tagdatecont {
  display: flex;
  margin-top: 10px;
}

.eventdate {
  margin-left: 20px;
}

.filters {
  width: 10%;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
}

.eventtag img {
  height: 1em;
}

.eventdate img {
  height: 1em;
}

.eventabout {
  margin-top: 10px;
}

.catlist {
  margin-top: 10px;
  font-weight: bold;
}

.check1 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.catlist .check1 input,
.check1 img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.searchsearchbuttoncont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer,
.footer5 {
  width: 100%;
  background-color: #00c3f7;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 80px;
}

.navbarlink {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.first3 li a {
  text-decoration: none;
  color: #fff;
}

.last3 li a {
  text-decoration: none;
  color: #fff;
}

.social {
  font-family: 'Poppins', sans-serif;
  width: 20%;
  font-size: 20px;
}

.social img {
  width: 1.25em;
  margin-top: 10px;
  margin-right: 10px;
}

.signup {
  font-family: 'Poppins', sans-serif;
  width: 30%;
  font-size: 20px;
}

.inputemail {
  height: 30px;
  width: 60%;
  outline: none;
  border: none;
  border-radius: 7.5px 0 0 7.5px;
  padding-left: 10px;
  margin-right: 0;
  margin-top: 10px;
}

.inputemail::placeholder {
  color: #787373;
  font-size: 15px;
  font-weight: lighter;
}

.signupsubmit {
  width: 25%;
  background-color: #f41971;
  height: 30px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 15px;
  border-radius: 0 7.5px 7.5px 0;
  margin-left: -5px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.nextarrow img {
  width: 65%;
}

.previousarrow img {
  width: 65%;
}

.mentor {
  display: flex;
  margin-top: 14vh;
  padding-top: 20px;
  justify-content: space-between;
}

.contact {
  display: flex;
  margin-top: 14vh;
  padding-top: 20px;
  justify-content: center;
}

.mentortxt {
  width: 45vw;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 10vw;
}

.contacttxt {
  width: 35vw;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-right: 3vw;
}

.mentortxt strong {
  font-size: 30px;
  font-weight: 900;
}

.contacttxt strong {
  font-size: 30px;
  font-weight: 900;
}

.doi {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 14vh;
  margin-left: -5vw;
}

.doi strong {
  font-size: 30px;
  font-weight: 900;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.bubcon {
  width: 105vw;
  margin-left: -10vw;
  display: flex;
  padding-left: -5vw;
  justify-content: center;
}

.bub1 {
  width: 30vw;
}

.bub2 {
  width: 30vw;
}

.bub3 {
  width: 30vw;
}

.speech {
  border-radius: 50px;
  margin: 2.5vw 2.5vw 0 2.5vw;
  width: 25vw;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 30px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  margin-left: 6vw;
}

.speechimg {
  width: 100%;
  border-width: 5px;
  overflow: hidden;
  margin-left: 4.5vw;
  margin-top: 20px;
}

.speechimgcon {
  display: flex;
  align-items: center;
}

.speechimgtxt {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 17.5px;
}

.speechimg img {
  width: 100%;
}

.boldtext {
  font-weight: 600;
}

.speechbub:nth-child(3n+1) .speech {
  background-color: #f4197126;
}

.speechbub:nth-child(3n+1) .triangle-down {
  border-top: 40px solid #f4197126;
}

.speechbub:nth-child(3n+2) .speech {
  background-color: #98d80026;
}

.speechbub:nth-child(3n+2) .triangle-down {
  border-top: 40px solid #98d80026;
}

.speechbub1:nth-child(3n+1) .speech {
  background-color: #98d80026;
}

.speechbub1:nth-child(3n+1) .triangle-down {
  border-top: 40px solid #98d80026;
}

.speechbub1:nth-child(3n+2) .speech {
  background-color: #00c3f726;
}

.speechbub1:nth-child(3n+2) .triangle-down {
  border-top: 40px solid #00c3f726;
}

.speechbub2:nth-child(3n+1) .speech {
  background-color: #00c3f726;
}

.speechbub2:nth-child(3n+1) .triangle-down {
  border-top: 40px solid #00c3f726;
}

.speechbub2:nth-child(3n+2) .speech {
  background-color: #f4197126;
}

.speechbub2:nth-child(3n+2) .triangle-down {
  border-top: 40px solid #f4197126;
}

.appbub {
  display: none;
}

.mentortxtcolor {
  color: #f41971;
}

.mentorimg {
  width: 40vw;
  margin-top: 40px;
}

.contactimg {
  width: 35vw;
  margin-top: 40px;
  margin-left: 3vw;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}

.contactimg[data-scroll="in"] {
  transform: scaleX(1);
  transition-delay: 0.1s;
}

.mentorimg img {
  width: 40vw;
}

.contactimg img {
  width: 35vw;
}

.text2 li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

ul.mentorul li::before {
  content: "\2022";
  color: #f41971;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.aftermain {
  margin-left: 10vw;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.socialico {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socialico img {
  width: 2.5em;
  margin-left: 0;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  margin-right: 40px;
}

.droparrow {
  height: 0.6em;
  margin-left: 10px;
}

.txtevent strong {
  font-size: 20px;
}

.blog:nth-child(3) strong {
  color: #f41971;
}

.blog:nth-child(4) strong {
  color: #00c3f7;
}

.blog:nth-child(5) strong {
  color: #98d800;
}

.blog:nth-child(6) strong {
  color: #f41971;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.txtevent {
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.qwerty {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 25px;
}

.datecont {
  font-size: 20px;
}

.margincont {
  margin-bottom: 50px;
}

.leaderchap {
  margin-top: 14vh;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
  }

  .center {
    height: auto;
    margin-top: 20vh;
    margin-bottom: 3vh;
  }

  .text1 {
    font-size: 20px;
  }

  .joinus {
    height: 2.25em;
  }

  .text2 {
    width: 55%;
  }

  .blog {
    margin-left: 40px;
    width: 70vw;
  }

  .fromourblog strong {
    margin-left: 40px;
  }

  .blog strong {
    margin-left: 0;
  }

  .contacttxt {
    width: 45vw;
  }

  .footer5 {
    position: fixed;
    bottom: 0;
  }

  .main10 {
    margin-top: 14vh;
  }
}

.id01 {
  position: fixed;
  top: 4vh;
}

.imgsocial {
  margin-top: -15px;
}

.imgsocial img {
  width: 30px;
  margin: 0 10px 15px 10px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main,
  .main10 {
    margin-top: 14vh;
  }

  .main1 {
    margin-top: 14vh;
    padding: 0;
  }

  .nav-links {
    position: fixed;
    background-color: #fff;
    right: -80px;
    top: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-bottom-left-radius: 15px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%), 0 -11px 0 #fbfbfb;
    -webkit-box-shadow: 0 10px 15px rgb(0 0 0 / 10%), 0 -11px 0 #fbfbfb;
    -moz-box-shadow: 0 10px 15px rgb(0 0 0 / 10%), 0 -11px 0 #fbfbfb;
  }

  .nav-links li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .sliderslide {
    flex-direction: column;
    align-items: center;
  }

  .text1 {
    width: 100vw;
    margin: 0;
    font-size: 3vh;
  }

  .joinus {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .whyinfosecgirls {
    flex-direction: column;
  }

  .ouraim {
    flex-direction: column;
  }

  .howyoucanhelp {
    flex-direction: column;
  }

  .text2 {
    width: 100vw;
    font-size: 15px;
  }

  .image2 {
    width: 100vw;
  }

  .image2 img {
    width: 80%;
    margin-left: 10%;
  }

  .shortwidth img {
    width: 70%;
    margin-left: 15%;
  }

  .blog {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }

  .continuereading {
    width: 75vw;
  }

  .about1 {
    width: 90vw;
    padding: 20px;
    padding-top: 15vw;
    font-size: 15px;
  }

  .about2 {
    width: 90vw;
    padding: 20px;
    padding-top: 15vw;
    font-size: 15px;
  }

  .aboutimg1 {
    width: 30vw;
    height: 30vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .aboutimg2 {
    width: 30vw;
    height: 30vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .aboutus strong {
    margin-left: 10vw;
  }

  .fromourblogtitle strong {
    margin-left: 10vw;
  }

  .eventlistcont {
    flex-direction: column-reverse;
    align-items: center;
  }

  .eventdetails {
    flex-direction: column;
    align-items: center;
  }

  .eventdetailsimg {
    width: 80%;
  }

  .eventdetailsdetail {
    width: 80%;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .eventlist {
    width: 100%;
  }

  .search {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100%;
  }

  .textcont {
    width: 100%;
  }

  .searchbuttoncont {
    width: auto;
  }

  .searchbutton {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .filters {
    width: 80%;
    display: none;
  }

  .center {
    margin-top: 0;
  }

  .footer,
  .footer5 {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }

  .navbarlink,
  .signup,
  .social {
    width: 100%;
    font-size: 15px;
  }

  .navbarlink {
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .social img {
    margin-top: 10px;
    width: 1.6em;
    margin-left: 10px;
    margin-right: 10px;
  }

  .signup {
    margin-top: 20px;
  }

  .inputemail {
    margin-top: 10px;
  }

  .signupsubmit {
    margin-top: 10px;
  }

  .socialimgcont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first3 {
    width: 50%;
  }

  .first3 li {
    font-size: 15px;
  }

  .last3 {
    width: 50%;
  }

  .last3 li {
    font-size: 15px;
  }

  .email {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .searchbox {
    width: 90%;
  }

  .nextarrow {
    display: none;
  }

  .previousarrow {
    display: none;
  }

  .image1 {
    width: 100%;
  }

  .contact {
    flex-direction: column;
    margin-top: 0;
  }

  .contacttxt {
    width: 100vw;
    padding: 20px;
    margin-top: 20px;
  }

  .mentortxt {
    width: 80vw;
  }

  .contactimg {
    width: 100vw;
    margin-top: 20px;
  }

  .mentorimg {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }

  .contactimg img {
    width: 90vw;
  }

  .mentorimg img {
    width: 90vw;
  }

  .contacttxt button {
    font-size: 20px;
    width: 95%;
    margin-left: 2.5%;
  }

  .afterbuttonbutton {
    font-size: 20px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
  }

  .mentor {
    flex-direction: column;
    margin-top: 0;
  }

  .aftermain {
    margin-top: 50px;
    width: 80vw;
  }

  .doi {
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .nav-links li:nth-child(1) {
    order: 1;
  }

  .nav-links li:nth-child(2) {
    order: 2;
  }

  .nav-links li:nth-child(3) {
    order: 3;
  }

  .nav-links li:nth-child(4) {
    order: 7;
  }

  .nav-links li:nth-child(5) {
    display: none;
  }

  .nav-links li:nth-child(6) {
    display: block;
    order: 6;
  }

  .nav-links li:nth-child(7) {
    display: block;
    order: 4;
  }

  .nav-links li:nth-child(8) {
    display: block;
    order: 5;
  }

  .logo {
    margin-left: 0;
  }

  .id01 {
    top: 10vh;
  }

  .txtevent,
  .txtevent strong {
    font-size: 15px;
  }

  .txtevent {
    margin-bottom: 30px;
  }

  .socialico {
    justify-content: space-between;
    width: 100%;
  }

  .socialico img {
    margin-right: 0;
  }

  .margincont {
    margin-bottom: 125px;
  }

  .bub1 {
    display: none;
  }

  .bub2 {
    display: none;
  }

  .bub3 {
    display: none;
  }

  .appbub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
  }

  .speech {
    width: 80vw;
  }

  .bubcon {
    margin: 0;
    width:100vw;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .triangle-down {
    margin-left: 15vw;
  }

  .speechimg {
    margin-left: 0vw;
    width:80vw;
  }
  
  .speechbub:nth-child(3n+1) .speechimg{
    border: 5px solid #00c3f7;
  }
  .speechbub:nth-child(3n+2) .speechimg{
    border: 5px solid #f41971;
  }
  .speechbub:nth-child(3n+3) .speechimg{
    border: 5px solid #98d800;
  }

  .speechbub:nth-child(3n+1) .speech {
    background-color: #f4197126;
  }

  .speechbub:nth-child(3n+1) .triangle-down {
    border-top: 40px solid #f4197126;
  }

  .speechbub:nth-child(3n+2) .speech {
    background-color: #98d80026;
  }

  .speechbub:nth-child(3n+2) .triangle-down {
    border-top: 40px solid #98d80026;
  }

  .speechbub:nth-child(3n+3) .speech {
    background-color: #00c3f726;
  }

  .speechbub:nth-child(3n+3) .triangle-down {
    border-top: 40px solid #00c3f726;
  }

  .speechimgcon {
    margin-bottom: 20px;
  }

  .leaderchap {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .leadmain {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
